<html>
<body>

<form method="POST">
    <div><label>
            Username:
            <input type="text" name="username"/>
        </label>
    </div>
    <div><label>
            Name:
            <input type="text" name="name"/>
        </label>
    </div>
    <div><label>
            Message:
            <textarea name="message"></textarea>
        </label>
    </div>
    <button>Send Message</button>
</form>
<% messages.forEach(function(el, index)
{ %>
<div>
    <%= messages[index].message %>
    <br/>
    - <%= messages[index].name %>
</div>
<% }) %>
</body>
</html>